@font-face {
    font-family: 'ChaparralProRegular';
    src: url('font-face/chaparralpro-regular-webfont.eot?#iefix');
    src:local('ChaparralProRegular'),
		url('font-face/chaparralpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/chaparralpro-regular-webfont.woff') format('woff'),
         url('font-face/chaparralpro-regular-webfont.ttf') format('truetype'),
         url('font-face/chaparralpro-regular-webfont.svg#ChaparralProRegular') format('svg');
	font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CronosProLight';
    src: url('font-face/cronospro-lt-webfont.eot?#iefix');
    src: local('CronosProLight'),
		url('font-face/cronospro-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/cronospro-lt-webfont.woff') format('woff'),
         url('font-face/cronospro-lt-webfont.ttf') format('truetype'),
         url('font-face/cronospro-lt-webfont.svg#CronosProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-size: 100%;
  color: #666;
  background: #fff;
  font-family: "CronosProLight", Arial, Helvetica, sans-serif;
}

h2, h3 {font-family: 'ChaparralProRegular'; }

h1, h2, h3, h4 {color: #F96302;}

ul { 
	list-style-type: none;
}
